version: "3"
services:
  database:
    image: "postgres"
    environment:
      POSTGRES_USER: divedb
      POSTGRES_PASSWORD: divedb
      POSTGRES_DB: divedb
    volumes:
      - divedb-db:/var/lib/postgresql
    ports:
      - "5432:5432"
  backend:
    build: .
    image: ghcr.io/cetra3/divedb
    restart: on-failure
    environment:
      CONNECT_URL: postgres://divedb:divedb@database
      SITE_URL: http://localhost:3333
      FRONTEND_URL: http://frontend:3000
      ADMIN_EMAIL: test@test.net
      SMTP_HOST: maildev
      SMTP_PORT: 1025
      SMTP_SECURITY: none
    ulimits:
      nofile:
        soft: 65535
        hard: 65535
    ports:
      - "3333:3333"
    depends_on:
      - database
    volumes:
      - ./store:/store
      - ./thumbs:/thumbs
  frontend:
    build: front
    image: ghcr.io/cetra3/divedb-front
    environment:
      BACKEND_URL: http://backend:3333
  maildev:
    image: maildev/maildev
    ports:
      - "1080:1080"
      - "1025:1025"

volumes:
  divedb-db: {}
