@use 'functions/color' as *;
@use 'functions/get-var' as *;
@use 'mixins/shadow' as *;
@use 'variables' as *;

// Base
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	// font-size: $html-font-size; // old spectre.css
	font-size: get-var('html-font-size');
	// line-height: $html-line-height; // old spectre.css
	line-height: get-var('html-line-height');
	-webkit-tap-highlight-color: transparent;
}

body {
	// background: $body-bg; // old spectre.css
	background: color('body-bg-color');
	// color: $body-font-color; // old spectre.css
	color: color('body-font-color');
	font-family: $body-font-family;
	// font-size: $font-size; // old spectre.css
	font-size: get-var('font-size');
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
}

a {
	// color: $link-color; // old spectre.css
	color: color('link-color');
	outline: none;
	text-decoration: none;

	&:focus {
		@include control-shadow();
	}

	&:focus,
	&:hover,
	&:active,
	&.active {
		// color: $link-color-dark; // old spectre.css
		color: color('link-color-dark');
		text-decoration: underline;
	}

	&:visited {
		// color: $link-color-light; // old spectre.css
		color: color('link-color-light');
	}
}
