@use 'functions/color' as *;
@use 'functions/get-var' as *;
@use 'mixins/shadow' as *;
@use 'variables' as *;

// Calendars
.calendar {
	// border: $border-width solid $border-color; // old spectre.css
	border: get-var('border-width') solid color('border-color');
	// border-radius: $border-radius; // old spectre.css
	border-radius: get-var('border-radius');
	display: block;
	min-width: 280px;

	.calendar-nav {
		align-items: center;
		// background: $bg-color; // old spectre.css
		background: color('bg-color');
		// border-top-left-radius: $border-radius; // old spectre.css
		border-top-left-radius: get-var('border-radius');
		// border-top-right-radius: $border-radius; // old spectre.css
		border-top-right-radius: get-var('border-radius');
		display: flex;
		// font-size: $font-size-lg; // old spectre.css
		font-size: get-var('font-size', $suffix: 'lg');
		// padding: $layout-spacing; // old spectre.css
		padding: get-var('layout-spacing', $unit: 1);
	}

	.calendar-header,
	.calendar-body {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		// padding: $layout-spacing 0; // old spectre.css
		padding: get-var('layout-spacing', $unit: 1) 0;

		.calendar-date {
			flex: 0 0 14.28%; // 7 calendar-items each row
			max-width: 14.28%;
		}
	}

	.calendar-header {
		// background: $bg-color; // old spectre.css
		background: color('bg-color');
		// border-bottom: $border-width solid $border-color; // old spectre.css
		border-bottom: get-var('border-width') solid color('border-color');
		// color: $gray-color; // old spectre.css
		color: color('gray-color');
		// font-size: $font-size-sm; // old spectre.css
		font-size: get-var('font-size', $suffix: 'sm');
		text-align: center;
	}

	.calendar-body {
		// color: $gray-color-dark; // old spectre.css
		color: color('gray-color-dark');
	}

	.calendar-date {
		border: 0;
		// padding: $unit-1; // old spectre.css
		padding: get-var('unit-1');

		.date-item {
			appearance: none;
			background: transparent;
			border: get-var('border-width') solid transparent;
			border-radius: 50%;
			// color: $gray-color-dark; // old spectre.css
			color: color('gray-color-dark');
			cursor: pointer;
			// font-size: $font-size-sm; // old spectre.css
			font-size: get-var('font-size', $suffix: 'sm');
			// height: $unit-7; // old spectre.css
			height: get-var('unit-7');
			// line-height: $unit-5; // old spectre.css
			line-height: get-var('unit-5');
			outline: none;
			// padding: $unit-h; // old spectre.css
			padding: get-var('unit-h');
			position: relative;
			text-align: center;
			text-decoration: none;
			// transition: background 0.2s, border 0.2s, box-shadow 0.2s, color 0.2s; // old spectre.css
			transition:
				background get-var('transition-duration'),
				border get-var('transition-duration'),
				box-shadow get-var('transition-duration'),
				color get-var('transition-duration');
			vertical-align: middle;
			white-space: nowrap;
			// width: $unit-7; // old spectre.css
			width: get-var('unit-7');

			&.date-today {
				// border-color: $secondary-color-dark; // old spectre.css
				border-color: color('secondary-color-dark');
				// color: $primary-color; // old spectre.css
				color: color('primary-color');
			}

			&:focus {
				@include control-shadow();
			}

			&:focus,
			&:hover {
				// background: $secondary-color-light; // old spectre.css
				background: color('secondary-color-light');
				// border-color: $secondary-color-dark; // old spectre.css
				border-color: color('secondary-color-dark');
				// color: $primary-color; // old spectre.css
				color: color('primary-color');
				text-decoration: none;
			}
			&:active,
			&.active {
				// background: $primary-color-dark; // old spectre.css
				background: color('primary-color-dark');
				// border-color: darken($primary-color-dark, 5%); // old spectre.css
				border-color: color('primary-color-dark', $lightness: -5%);
				// color: $light-color; // old spectre.css
				color: color('light-color');
			}

			// Calendar badge support
			&.badge {
				&::after {
					position: absolute;
					top: 3px;
					right: 3px;
					transform: translate(50%, -50%);
				}
			}
		}

		.date-item,
		.calendar-event {
			&:disabled,
			&.disabled {
				cursor: default;
				opacity: 0.25;
				pointer-events: none;
			}
		}

		&.prev-month,
		&.next-month {
			.date-item,
			.calendar-event {
				opacity: 0.25;
			}
		}
	}

	.calendar-range {
		position: relative;

		&::before {
			// background: $secondary-color; // old spectre.css
			background: color('secondary-color');
			content: '';
			// height: $unit-7; // old spectre.css
			height: get-var('unit-7');
			left: 0;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}
		&.range-start {
			&::before {
				left: 50%;
			}
		}
		&.range-end {
			&::before {
				right: 50%;
			}
		}

		&.range-start,
		&.range-end {
			.date-item {
				// background: $primary-color-dark; // old spectre.css
				background: color('primary-color-dark');
				// border-color: darken($primary-color-dark, 5%); // old spectre.css
				border-color: color('primary-color-dark', $lightness: -5%);
				// color: $light-color; // old spectre.css
				color: color('light-color');
			}
		}

		.date-item {
			// color: $primary-color; // old spectre.css
			color: color('primary-color');
		}
	}

	// Calendars size
	&.calendar-lg {
		.calendar-body {
			padding: 0;

			.calendar-date {
				// border-bottom: $border-width solid $border-color; // old spectre.css
				border-bottom: get-var('border-width') solid color('border-color');
				// border-right: $border-width solid $border-color; // old spectre.css
				border-right: get-var('border-width') solid color('border-color');
				display: flex;
				flex-direction: column;
				height: 5.5rem;
				padding: 0;

				&:nth-child(7n) {
					border-right: 0;
				}
				&:nth-last-child(-n + 7) {
					border-bottom: 0;
				}
			}
		}

		.date-item {
			align-self: flex-end;
			// height: $unit-7; // old spectre.css
			height: get-var('unit-7');
			// margin-right: $layout-spacing-sm; // old spectre.css
			margin-right: get-var('layout-spacing', $suffix: 'sm', $unit: 1);
			// margin-top: $layout-spacing-sm; // old spectre.css
			margin-top: get-var('layout-spacing', $suffix: 'sm', $unit: 1);
		}

		.calendar-range {
			&::before {
				top: 19px;
			}
			&.range-start {
				&::before {
					left: auto;
					width: 19px;
				}
			}
			&.range-end {
				&::before {
					right: 19px;
				}
			}
		}

		.calendar-events {
			flex-grow: 1;
			line-height: 1;
			overflow-y: auto;
			// padding: $layout-spacing-sm; // old spectre.css
			padding: get-var('layout-spacing', $suffix: 'sm', $unit: 1);
		}

		.calendar-event {
			// border-radius: $border-radius; // old spectre.css
			border-radius: get-var('border-radius');
			// font-size: $font-size-sm; // old spectre.css
			font-size: get-var('font-size', $suffix: 'sm');
			display: block;
			// margin: $unit-h auto; // old spectre.css
			margin: get-var('unit-h') auto;
			overflow: hidden;
			padding: 3px 4px;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}
