@use 'functions/color' as *;
@use 'functions/get-var' as *;
@use 'variables' as *;

// Panels
.panel {
	// border: $border-width solid $border-color; // old spectre.css
	border: get-var('border-width') solid color('border-color');
	// border-radius: $border-radius; // old spectre.css
	border-radius: get-var('border-radius');
	display: flex;
	flex-direction: column;

	.panel-header,
	.panel-footer {
		flex: 0 0 auto;
		// padding: $layout-spacing-lg; // old spectre.css
		padding: get-var('layout-spacing', $suffix: 'lg', $unit: 1);
	}

	.panel-nav {
		flex: 0 0 auto;
	}

	.panel-body {
		flex: 1 1 auto;
		overflow-y: auto;
		// padding: 0 $layout-spacing-lg; // old spectre.css
		padding: 0 get-var('layout-spacing', $suffix: 'lg', $unit: 1);
	}
}
